---
---

@import "{{ site.theme }}";

body{
  //font-family: 'Cutive Mono', monospace;
}

header h1, h1, h2, h3, h4, h5, h6{
  color: #b90e0eed;
  font-family: 'Playfair Display', serif;
  text-shadow: none;
  font-weight: bold;
  letter-spacing: 0.05em;
}

header{
  border-bottom: 1px dashed #b90e0eed;
}

header h1::before {
  content: "";
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#links a {
  color: #76ff03e0;
}

#page-date{
  font-family: 'Cutive Mono', monospace;
}

/* Ghost Terminal Theme*/
/* header h1, h1, h2, h3, h4, h5, h6{
  color: #ff4444;
}

header{
  border-bottom: 1px dashed #b90e0eed;
}

a{
  color: #76ff03e0;
  text-shadow: 0 0 5px rgba(104, 213, 255, 0.23);
}
 */